/* 字体图标*/

@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?tomleg');
    src: url('../fonts/icomoon.eot?tomleg#iefix') format('embedded-opentype'), url('../fonts/icomoon.ttf?tomleg') format('truetype'), url('../fonts/icomoon.woff?tomleg') format('woff'), url('../fonts/icomoon.svg?tomleg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}


/* 版心 */

.w {
    width: 1200px;
    margin: 0 auto;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.style_red {
    color: #c81623;
}


/* shortcut */

.shortcut {
    width: 100%;
    height: 31px;
    line-height: 31px;
    background-color: #f1f1f1;
}

.shortcut ul li {
    float: left;
    font-size: 12px;
}

.shortcut .fl li a {
    margin-left: 12px;
}

.shortcut .fr li:nth-child(even) {
    width: 1px;
    height: 12px;
    background-color: #666;
    margin: 9px 16px 0;
}

.arrow_icon::after {
    content: '\e91e';
    font-family: 'icomoon';
    margin-left: 10px;
}


/* header */

.header {
    position: relative;
    height: 105px;
}

.header .logo {
    position: absolute;
    top: 25px;
    width: 171px;
    height: 61px;
}

.header .logo a {
    display: block;
    width: 171px;
    height: 61px;
    background-color: #bfa;
    background: url(../img/logo.png) no-repeat;
    font-size: 0px;
}

.search {
    position: absolute;
    top: 25px;
    left: 348px;
    width: 538px;
    height: 36px;
    border: 2px solid #b1191a;
}

.search input {
    float: left;
    width: 454px;
    height: 32px;
    font-size: 14px;
    padding-left: 10px;
}

.search button {
    float: left;
    width: 80px;
    height: 32px;
    background-color: #b1191a;
    /* vertical-align:top; */
}

.hotwords {
    position: absolute;
    top: 69px;
    left: 348px;
}

.hotwords a {
    font-size: 12px;
    margin: 0 12px;
}

.hotwords a:first-child {
    color: #c81623;
}

.shopcar {
    position: absolute;
    top: 25px;
    left: 996px;
    width: 140px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    font-size: 12px;
    background-color: #f7f7f7;
    border: 1px solid #dfdfdf;
}

.shopcar::before {
    content: '\e93a';
    font-family: 'icomoon';
    margin-right: 7px;
    color: #db5c5c;
}

.shopcar::after {
    content: '\e920';
    font-family: 'icomoon';
    margin-left: 15px;
}

.shopcar .count {
    position: absolute;
    top: -4px;
    left: 95px;
    height: 14px;
    line-height: 14px;
    padding: 0 5px;
    border-radius: 7px 7px 7px 0;
    background-color: #e60012;
    color: #fff;
}


/* nav */

.nav,
.nav .dropdown {
    height: 47px;
    border-bottom: 2px solid #b1191a;
}

.dropdown {
    float: left;
    width: 209px;
    background-color: #b1191a;
}

.dropdown .dt {
    width: 100%;
    height: 100%;
    line-height: 45px;
    text-align: center;
    color: #fff;
    font-size: 16px;
    background-color: #b1191a;
}

.dropdown .dd {
    display: none;
    width: 100%;
    height: 467px;
    margin-top: 2px;
    background-color: #c81623;
    color: #fff;
    font-size: 14px;
}

.dropdown .dt:hover+.dd {
    display: block;
}

.dropdown .dd ul li {
    position: relative;
    height: 31px;
    line-height: 31px;
    margin-left: 2px;
    padding-left: 10px;
}

.dropdown .dd ul li:hover {
    background-color: #fff;
    color: #c81623;
}

.dropdown .dd ul li:hover a {
    color: #c81623
}

.dropdown .dd a {
    color: #fff;
}

.dropdown .dd ul li::after {
    position: absolute;
    top: 1px;
    left: 193px;
    font-size: 14px;
    content: '\e920';
    font-family: 'icomoon';
}

.navitems {
    float: left;
}

.navitems ul li {
    float: left;
    padding: 0 25px;
    height: 45px;
    line-height: 45px;
}

.navitems ul li a {
    font-size: 16px;
}


/* footer */

.footer {
    height: 417px;
    background-color: #f5f5f5;
    padding-top: 30px;
}

.footer .mod_service {
    height: 80px;
    border-bottom: 1px solid #ededed;
}

.footer .mod_service ul li {
    float: left;
    width: 240px;
    padding-left: 35px;
}

.footer .mod_service h5 {
    float: left;
    width: 50px;
    height: 50px;
}

.footer .mod_service .img_1 {
    background: url(../img/icons.png) no-repeat -253px -3px;
}

.footer .mod_service .img_2 {
    background: url(../img/icons.png) no-repeat -255px -54px;
}

.footer .mod_service .img_3 {
    background: url(../img/icons.png) no-repeat -257px -106px;
}

.footer .mod_service .img_4 {
    background: url(../img/icons.png) no-repeat -258px -157px;
}

.footer .mod_service .img_5 {
    background: url(../img/icons.png) no-repeat -258px -209px;
}

.footer .service_text {
    padding: 6px 0 0 57px;
}

.footer .service_text h4 {
    font-size: 14px;
}

.footer .service_text p {
    font-size: 12px;
}

.mod_help {
    height: 188px;
    border-bottom: 1px solid #ededed;
    padding-top: 21px;
}

.mod_help dl {
    float: left;
    width: 200px;
    padding-left: 45px;
}

.mod_help dl dt {
    font-size: 16px;
    margin-bottom: 8px;
}

.mod_help dl:last-child {
    width: 145px;
    text-align: center;
}

.mod_help dl dt dd {
    font-size: 12px;
}

.mod_copyright {
    padding-top:20px;
    text-align:center;
}

.mod_copyright .links{
    margin-bottom:15px;
}

.mod_copyright span{
    font-size:14px;
    margin:0 6px;
    color:#999999;
}

.mod_copyright .copyright{
    line-height:20px;
}
